/* BASE PAGE */
#header {
  width: 100%;
}

#logout {
  float: right;
}

#title {
  color: white;
  margin-top: 5px;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

#title a {
  color: white;
  text-decoration: none;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navElement {
  float: left;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLink:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
}
/* END BASE PAGE */

/* CATALOG PAGE */
.enrollButton:hover {
  text-shadow: 1px 1px 15px black;
}
/* END CATALOG PAGE */

/* ENROLL PAGE */
#enrollBlock {
  position: relative;
  margin: 0 auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 4px;
  padding: 5px;
  height: auto;
  margin-top: 50px;
}

#enrollTitle {
  margin-top:100px
}

#enrollCourse {
  text-align: center;
}

#enrollInfo {
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: #38c75e;
}

#enrollBtnGroup {
  position:relative;
  margin-top: 25px;
}
/* END ENROLL PAGE */

/* SCHEDULE PAGE */
#scheduleTable {
  width: 65%;
  margin-top: 20px;
}

#selectGroup {
  margin-top:50px;
}

#selectTerm {
  border: 1px solid #007BFF !important;
  color: #007BFF;
  width: 200px;
}

.padLeft {
  padding-left: 30px !important;
}
/* END SCHEDULE PAGE */

/* LOGIN & REGISTER PAGES */
#loginBox {
  margin-top: 50px;
  width: 400px;
}

#registerBox {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.center {
  margin: 0 auto;
}
/* END LOGIN & REGISTER PAGES */
