/* BASE PAGE */
#header {
  width: 100%;
}

#logout {
  float: right;
}

.card {
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
#books_main {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
}

#book_error {
  display: none;
}

#index {
  margin-top: 50px;
}

img {
  object-fit: cover;
}

.for_sale {
  color: green;
}

.not_for_sale {
  color: red;
}

.book_img {;
    width: 100%;
    height: auto;
}

#title {
  color: white;
  margin-top: 5px;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

#book_container {
  text-align: center;
  border: solid black;
  margin: 0px;
}

#title a {
  color: white;
  text-decoration: none;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navElement {
  float: left;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLink:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
}
/* END BASE PAGE */

/* CATALOG PAGE */
.enrollButton:hover {
  text-shadow: 1px 1px 15px black;
}
/* END CATALOG PAGE */

/* ENROLL PAGE */
#enrollBlock {
  position: relative;
  margin: 0 auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 4px;
  padding: 5px;
  height: auto;
  margin-top: 50px;
}

#enrollTitle {
  margin-top:100px
}

#enrollCourse {
  text-align: center;
}

#enrollInfo {
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: #38c75e;
}

#enrollBtnGroup {
  position:relative;
  margin-top: 25px;
}
/* END ENROLL PAGE */
