{% extends "base.html" %}

{% block content %}
    <center><h1>Student Center Home</h1></center>


    <div class="container" id="index">
    	<div class="row">
    		<div class="col-sm-4">
      			<div class="card">
		  			<img src="/static/images/schedule.png" class="card-img-top">
		  			<div class="card-body">
		    			<h5 class="card-title">Course Schedule</h5>
		    			<p class="card-text">Check out the courses you have enrolled for this semester and previous semesters.</p>
		    			<a href="http://127.0.0.1:5000/schedule" class="btn btn-outline-primary">Go to Course Schedule</a>
		  			</div>
				</div>
    		</div>
    		<div class="col-sm-4">
      			<div class="card">
		  			<img src="/static/images/catalog.png" class="card-img-top">
		  			<div class="card-body">
		    			<h5 class="card-title">Course Catalog</h5>
		    			<p class="card-text">Look through an array of potential courses you could take that pique your interest.</p>
		    			<a href="http://127.0.0.1:5000/catalog" class="btn btn-outline-primary">Go to Course Catalog</a>
		  			</div>
				</div>
    		</div>
    		<div class="col-sm-4">
      			<div class="card">
		  			<img src="/static/images/library.png" class="card-img-top">
		  			<div class="card-body">
		    			<h5 class="card-title">Library</h5>
		    			<p class="card-text">Browse a selection of books that you may need for class or for your enjoyment.</p>
		    			<a href="http://127.0.0.1:5000/library" class="btn btn-outline-primary">Go to Library</a>
		  			</div>
				</div>
    		</div>
    	</div>
    </div>
{% endblock %}
