{% extends "base.html" %}
{% block content %}
    <center><h1>Campus Library</h1></center>
	<!--<form action="/searchLibrary" method="POST" onsubmit="checkLibraryFields()"> -->
		<div class="container">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.book_name.label }}
				{{ form.book_name(class_='form-control') }}
            	{% for error in form.book_name.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
				<span id="book_error" class="error">Please enter book title.</span>
			</div>
			{{ form.submit(class_="btn btn-primary", onclick="postBook()") }}
		</div>
	<!--</form> !-->

	<br /><br />
	<div id="books_main" class="container">
	</div>

	<script>
		window.onload = function() {
			postBook();
		}
	</script>

{% endblock %}
