{% extends "base.html" %}

{% block content %}
    <center>
      {% for flash in get_flashed_messages() %}
        {% if flash == "Congratulations, you are now a registered user!" %}
          <span style="color: #007BFF; margin-top:20px;">{{ flash }}</span>
        {% endif %}
      {% endfor %}
    <div id="loginBox">
      <form action="" method="post" novalidate class="form-control">

          <h1>Sign In</h1>
          {{ form.hidden_tag() }}
          <p>
              {{ form.email.label }}<br>
              {{ form.email(size=32, class_='form-control') }}
              {% for error in form.email.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32, class_='form-control') }}
              {% for error in form.password.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>{{ form.remember_me(class_='form-check-input') }} {{ form.remember_me.label(class_="form-check-label") }}</p>
          <p>{{ form.submit(class_='btn btn-outline-primary') }}</p>
          {% for error in form.password.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
          {% for flash in get_flashed_messages() %}
            {% if flash != "Congratulations, you are now a registered user!" %}
              <span style="color: red;">{{ flash }}</span>
            {% endif %}
          {% endfor %}
      </form>
    </div>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </center>
{% endblock %}
